$menuBreakpoint: 768px;
$menuHeight: 90px;

#header{
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../../assets/image/textura-panel.jpg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logotype {
    margin: 15px ;
    height: 80px;
    width: 80px;
    }
  

  .burger {
    padding: 0 10px;
    display: none;
    cursor: pointer;

    i {
      color: rgb(0, 0, 0);
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 2};
        width: 100%;

        }
    }

    .menu-item {
      padding: 0 10px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      color: #000000;
    }
  }
}