<footer class="footer">

  <h1 class="footer__h1">
    <a href="#" class="footer__a"></a>
  </h1>
  <img class="logo" src="../../../assets/image/logo-wooden.svg" alt="logo-wooden">

  <h1 class="frase">
    <img src="../../../assets/image/materializamos.svg" alt="">
  </h1>

  <button class="insta"><a href="https://www.instagram.com/wooden.bog/"><img src="../../../assets/image/insta.svg"></a>
  </button>
  <p class="sign"><img src="../../../assets/image/lagonzalezdev.png" alt=""></p>
</footer>


