<footer class="footer">

  <h1 class="footer__h1">
    <a href="#" class="footer__a"></a>
  </h1>
  <a href="home"><img class="logo" src="../../../assets/image/logo-wooden.svg" alt="logo-wooden"></a>

  <h1 class="slogan">
    <img src="../../../assets/image/materializamos.svg" alt="">
  </h1>

  <button class="insta"><a href="https://www.instagram.com/wooden.bog/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/image/insta.svg"></a>
  </button>
  <p class="sign"><img src="../../../assets/image/lagonzalezdev.png" alt=""></p>
</footer>


