.product{
  padding: 20px 0;
  margin: 20px 10px 20px;
  width: 580px;
  height: 150px;
  background-image: url(../../../assets/image/carousel1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 700px) {
    display: block;
}
}
